{% extends 'base.html' %}
{% load static %}
{% block title %}PostHub{% endblock %}

{% block content %}
    <!-- Main Area Start -->
    <main style="margin-top: 140px;margin-bottom: 138px">
        <section class="login-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-md-8">
                        <div class="login-form">
                            <h2>Login</h2>
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {% for error in form.non_field_errors %}
                                        {% if error %}
                                            <p class="alert alert-danger m-1">{{ error }}</p>
                                        {% endif %}
                                    {% endfor %}
                                    <label for="email">Username</label>
{#                                    <input type="email" id="email" class="form-control" placeholder="Enter your email">#}
                                    {{ form.username }}
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
{#                                    <input type="password" id="password" class="form-control" placeholder="Enter your password">#}
                                    {{ form.password }}
                                </div>
                                <button type="submit" class="btn btn-primary mt-2">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Main Area End -->
{% endblock %}